@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex: 1;
}

#root {
  display: flex;
  flex: 1;
}

.ant-modal {
  transform-origin: unset !important;
}

.ant-statistic-content {
  display: flex;
  align-items: center;
}

.ant-pagination-item-link {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ant-page-header-heading-left {
  margin: 0px !important;
}
