@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex: 1;
}

#root {
  display: flex;
  flex: 1;
}

.ant-modal {
  transform-origin: unset !important;
}

.ant-statistic-content {
  display: flex;
  align-items: center;
}

.ant-pagination-item-link {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ant-page-header-heading-left {
  margin: 0px !important;
}

.ant-input {
  @apply font-light;
  @apply ml-1;
}

.ant-input-affix-wrapper {
  @apply border-gray-200;
  @apply mb-2;
  @apply px-2;
  @apply py-1;
}

.table {
  min-height: 16rem;
}

.ant-collapse {
  border: none !important;
}

.ant-collapse-item {
  border: none !important;
}

.ant-collapse-content {
  border: none !important;
}

.ant-input-number-input {
  @apply font-light;
}
